{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{% block pagetitle %}{% endblock %} DJSkell</title>
    
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- site wide css -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    
    <!-- jquery, popper, bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- site wide auto select active navigation, site wide js-->
    <script src="{% static 'js/activenav.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- fontawesome css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- <head> extension point -->
    {% block extrahead %}{% endblock %}
</head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="/">DJSkell</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link1">Link1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link2">Link2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link3">Link3</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" id="logoutlink" href="">
                        <i class="fas fa-sign-out-alt"></i> Log out</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
    </nav>
    <!-- above main content extension point -->
    {% block abovecontainer %}{% endblock %}

    <div class="container" id="pagecontainer">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div><!-- end outer .container -->      
    
    <!-- below main content extension point -->
    {% block belowcontainer %}{% endblock %}
    
    <div class="container">
        <div class="row">        
            <div id="footer">
                <p>
                    &copy; All Rights Reserved 
                    <a href="https://github.com/lzantal/djskell" target="_blank">Powered by DJSkell</a>
                </p>
            </div>     
        </div>
    </div>

</body>
</html>